<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Series</title>
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/@merakiui/merakiui/dist/merakiui.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200 text-gray-900 dark:bg-gray-800 dark:text-gray-200 flex">
  <%- include('../../../partials/header/dashboardHeader'); %>
  <main class="flex-1 ml-64 lg:ml-72 p-5 space-y-8 overflow-auto">
    <div class="container mx-auto">
      <h1 class="text-3xl font-semibold mb-6">Series</h1>

      <a href="/dashboard/plex/series/create" class="btn btn-primary mb-4">Add New Series</a>

      <% if (series.length > 0) { %>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Episodes</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% series.forEach(serie => { %>
              <tr>
                <td><%= serie.title %></td>
                <td><%= serie.description %></td>
                <td><%= serie.episodes %></td>
                <td>
                  <a href="/dashboard/plex/series/<%= serie.id %>/edit" class="text-yellow-500 hover:underline">Edit</a> |
                  <a href="<%= api.https %>://<%= api.baseURL %><% if (process.env.NODE_ENV === 'development') { %>:<%= api.port %><% } %>/api/plex/series/<%= serie.id %>/delete" class="text-red-500 hover:underline">Delete</a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <p class="text-gray-600 dark:text-gray-400">No series available.</p>
      <% } %>
    </div>
  </main>
</body>
</html>
