<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organizations</title>
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <%- include('../../partials/header'); %>
    <main>
      <div class="container">
        <h1>Organizations</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% organizations.forEach(organization => { %>
            <tr>
              <td><%= organization.name %></td>
              <td><%= organization.description %></td>
              <td>
                <a href="/dashboard/organizations/<%= organization._id %>/edit"
                  >Edit</a
                >
                <form
                  action="/api/organizations/delete/<%= organization._id %>"
                  method="POST"
                  style="display: inline"
                >
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <a href="/dashboard/organizations/create">Create New Organization</a>
      </div>
    </main>
    <%- include('../../partials/footer'); %>
  </body>
</html>
