<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Organization</title>
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <%- include('../../partials/header'); %>
    <main>
      <div class="container">
        <h1>Update Organization</h1>
        <form
          action="/api/organizations/update/<%= organization._id %>"
          method="POST"
        >
          <div>
            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              value="<%= organization.name %>"
              required
            />
          </div>
          <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" required><%= organization.description %></textarea>
          </div>
          <button type="submit">Update Organization</button>
        </form>
      </div>
    </main>
    <%- include('../../partials/footer'); %>
  </body>
</html>
