<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status ~ NodCord</title>
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <style>
    main {
      flex: 1;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    section {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 100%;
      max-width: 800px;
    }

    h2 {
      border-bottom: 2px solid #eee;
      padding-bottom: 10px;
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
    }

    .status {
      display: flex;
      align-items: center;
      font-size: 18px;
      margin: 20px 0;
    }

    .status-dot {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 15px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      position: relative;
    }

    .status-dot::after {
      content: attr(data-status);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 12px;
      font-weight: bold;
    }

    .online {
      background-color: green;
    }

    .maintenance {
      background-color: yellow;
    }

    .offline {
      background-color: red;
    }
  </style>
</head>

<body>
  <%- include('./partials/header'); %>
  <main>
    <section>
      <h2>API Status</h2>
      <div class="status">
        <div class="status-dot <%= apiStatus %>" data-status="<%= apiStatusMessage || 'Unknown' %>"></div>
        <span><%= apiStatusMessage || 'Unknown' %></span>
      </div>

      <h2>Database Status</h2>
      <div class="status">
        <div class="status-dot <%= dbStatus %>" data-status="<%= dbStatusMessage || 'Unknown' %>"></div>
        <span><%= dbStatusMessage || 'Unknown' %></span>
      </div>

      <h2>Discord Bot Status</h2>
      <div class="status">
        <div class="status-dot <%= botStatus %>" data-status="<%= botStatusMessage || 'Unknown' %>"></div>
        <span><%= botStatusMessage || 'Unknown' %></span>
      </div>
    </section>
  </main>
  <%- include('./partials/footer'); %>
</body>
<script src="assets/js/script.js"></script>
</html>
