<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Keys - NodCord</title>
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <%- include('../../partials/header'); %>
    <main>
      <div class="container">
        <h1>API Keys</h1>
        <a href="/dashboard/apiKeys/create" class="btn btn-primary"
          >Create New API Key</a
        >
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Key</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% apiKeys.forEach(apiKey => { %>
            <tr>
              <td><%= apiKey.name %></td>
              <td><%= apiKey.key %></td>
              <td>
                <a
                  href="/dashboard/apiKeys/update/<%= apiKey._id %>"
                  class="btn btn-warning"
                  >Update</a
                >
                <form
                  action="/api/apikeys/delete/<%= apiKey._id %>"
                  method="POST"
                  style="display: inline"
                >
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>
    <%- include('../../partials/footer'); %>
  </body>
  <script src="/assets/js/script.js"></script>
</html>
