<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Issues ~ NodCord</title>
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/@merakiui/merakiui/dist/merakiui.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200 text-gray-900 dark:bg-gray-800 dark:text-gray-200 flex">
  <%- include('../../partials/dashboardHeader'); %>
  <main class="flex-1 ml-64 lg:ml-72 p-6 space-y-8 overflow-auto">
    <div class="container mx-auto">
      <h1 class="text-3xl font-semibold mb-6">Issues</h1>
      <table class="w-full bg-white dark:bg-gray-900 rounded-lg shadow-md border border-gray-300">
        <thead>
          <tr>
            <th class="p-3 border-b border-gray-200 dark:border-gray-700">Title</th>
            <th class="p-3 border-b border-gray-200 dark:border-gray-700">Description</th>
            <th class="p-3 border-b border-gray-200 dark:border-gray-700">Status</th>
            <th class="p-3 border-b border-gray-200 dark:border-gray-700">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% issues.forEach(issue => { %>
          <tr>
            <td class="p-3 border-b border-gray-200 dark:border-gray-700"><%= issue.title %></td>
            <td class="p-3 border-b border-gray-200 dark:border-gray-700"><%= issue.description %></td>
            <td class="p-3 border-b border-gray-200 dark:border-gray-700"><%= issue.status %></td>
            <td class="p-3 border-b border-gray-200 dark:border-gray-700">
              <a href="/dashboard/issues/<%= issue._id %>/edit" class="text-blue-500 hover:text-blue-600">Edit</a>
              <form action="<%= api.https %>://<%= api.baseURL %><% if (process.env.NODE_ENV === 'development') { %>:<%= api.port %><% } %>/api/issues/delete/<%= issue._id %>" method="POST" style="display: inline;">
                <button type="submit" class="text-red-500 hover:text-red-600">Delete</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <a href="/dashboard/issues/create" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded shadow-md transition duration-300 mt-4 inline-block">
        <i class="bi bi-plus-circle"></i> Create New Issue
      </a>
    </div>
  </main>
</body>
<script src="/assets/js/script.js"></script>
</html>
