<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login ~ NodCord</title>
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/@merakiui/merakiui/dist/merakiui.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    /* Additional custom styles */
    body {
      background-color: #1a202c; /* Dark background similar to about.ejs */
    }
    .login-container {
      background-color: #2d3748; /* Darker background for the form */
    }
  </style>
</head>

<body class="text-gray-200">
  <%- include('../partials/header/header'); %>
  <main class="flex justify-center items-center min-h-screen py-8">
    <div class="max-w-md w-full p-8 rounded-lg shadow-lg login-container">
      <h1 class="text-2xl font-bold text-gray-100 mb-6">Login</h1>
      <!-- Social Login Buttons -->
      <div class="flex flex-col gap-4 mb-6">
        <a href="<%= api.https %>://<%= api.baseURL %><% if (process.env.NODE_ENV === 'development') { %>:<%= api.port %><% } %>/api/auth/google" class="flex items-center justify-center bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition duration-300">
          <i class="bi bi-google mr-2"></i> Login with Google
        </a>
        <a href="<%= api.https %>://<%= api.baseURL %><% if (process.env.NODE_ENV === 'development') { %>:<%= api.port %><% } %>/api/auth/github" class="flex items-center justify-center bg-gray-800 text-white py-2 px-4 rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition duration-300">
          <i class="bi bi-github mr-2"></i> Login with GitHub
        </a>
      </div>
      <div class="text-center">
        <a href="/register" class="text-sm text-indigo-400 hover:text-indigo-300">Du hast noch keinen Account?</a>
      </div>
    </div>
  </main>
  <%- include('../partials/footer/footer'); %>
  <script src="/assets/js/script.js"></script>
</body>

</html>
