<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login ~ NodCord</title>
  <link rel="shortcut icon" href="<%= logoImage %>" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/@merakiui/merakiui/dist/merakiui.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-200 text-gray-900 dark:bg-gray-800 dark:text-gray-200">
  <%- include('../partials/header'); %>
  <main class="flex justify-center items-center min-h-screen">
    <div class="max-w-md w-full bg-white dark:bg-gray-900 p-8 rounded-lg shadow-lg">
      <h1 class="text-2xl font-bold text-gray-200 mb-6">Login</h1>
      <% if (errorMessage) { %>
        <p class="text-red-500 mb-4">
          <%= errorMessage %>
        </p>
      <% } %>
      <form action="<%= api.https %>://<%= api.baseURL %>:<%= api.port %>/api/auth/login" method="POST" class="space-y-6">
        <div>
          <label for="emailOrUsername" class="block text-sm font-medium text-gray-200">Username or Email</label>
          <input type="text" id="emailOrUsername" name="emailOrUsername" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-200">Password</label>
          <input type="password" id="password" name="password" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div>
          <button type="submit" class="w-full bg-gray-800 text-white py-2 px-4 rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-300">Login</button>
        </div>
      </form>

      <div class="text-center my-6">
        <p class="text-gray-600">---- OR ----</p>
      </div>

      <!-- Social Login Buttons -->
      <div class="flex flex-col gap-4 mb-6">
        <a href="/auth/google" class="flex items-center justify-center bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition duration-300">
          <i class="bi bi-google mr-2"></i> Login with Google
        </a>
        <a href="/auth/github" class="flex items-center justify-center bg-gray-800 text-white py-2 px-4 rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition duration-300">
          <i class="bi bi-github mr-2"></i> Login with GitHub
        </a>
        <a href="/auth/apple" class="flex items-center justify-center bg-black text-white py-2 px-4 rounded-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition duration-300">
          <i class="bi bi-apple mr-2"></i> Login with Apple
        </a>
      </div>
      <div class="text-center">
        <a href="/register" class="text-sm text-indigo-600 hover:text-indigo-500">Du hast noch keinen Account?</a>
      </div>
    </div>
  </main>
  <%- include('../partials/footer'); %>
  <script src="/assets/js/script.js"></script>
</body>

</html>
